:root{
    --primary-color: rgb(17, 86, 102);
}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
}

.container{
    max-width: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    padding: 0 20px;
    border-radius: 8px;
}

form input, form label, form button{
    display:block;
    width:100%;
    margin-bottom: 10px;
}

form input{
    font-size: 20px;
    height: 30px;
    padding: 0 3px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background-color: aqua;
}

.enunciado{
    display: flex;
    justify-content: space-between;
}

.resultado{
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.error{
    background-color: lightcoral;
    padding: 5px;
}

.right{
    background-color: lightgreen;
    padding: 5px;
}

.relogio{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

.relogio button:hover{
    background-color: green;
}

.relogio button{
    padding: 5px;
}

h1{
    text-align: center;
}

.pausado{
    color: red;
}